run = "npm run dev"
language = "nodejs"
modules = ["nodejs-20", "web"]

[env]
NODE_ENV = "development"

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 5173
externalPort = 80


